@import url('https://cdn.lineicons.com/2.0/LineIcons.css');
@import 'cards.css';
@import 'stars.css';
@import 'specs.css';
@import 'piles.css';

.Human      { background-color: #ffb; }
.AI         { background-color: #bff; }
.Plasma     { background-color: #fbf; }
.Giant      { background-color: #bfb; }
