.Card {
    position: absolute;
    border: 1px solid black;
    border-radius:20px;
    padding:0;
    margin:0;
    box-shadow: 0 0 10px black;
    z-index: 3;
}

.Card.Absent {
    border: 0px;
}

.Card.Turned {
    filter: brightness(55%);
}

.Ship                       { width:250; height: 250; }
.Hero                       { width:250; height: 250; }
.Base                       { width:350; height: 150; }
.Colony                     { width:350; height: 150; }
.Tech                       { width:250; height: 350; }

.Specs                      { position:absolute; width:100%; height:100%; }

.Specs.Alternative          { transform-origin: center; transform: rotate(180deg); }

.Star .Card.Visible .Specs.Alternative { display:none; }

.Star .Card                 { border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; }
