.value {
    position: absolute;
    width:50;
    height:50;
}

.part {
    position:absolute;
    width:50; height:50;
    font-weight:    700;
    font-size:      62px;
    line-height:    45px;
    /*-webkit-text-stroke: 1px black;*/
}

.part .lni {
    display:none;
    position: absolute; top:0; left:0;
    color:gray;
    font-size:40px;
    line-height:40px;
    -webkit-text-stroke: 1px gray;
}

.Image .lni {
    position: absolute;
    color: gray;
    font-size: 130px;
    font-weight: 100;
}

.Level {
    position: absolute; top:0; left:0;
    width:50; height:50;
    margin:0;padding:0;
    text-align: center;
    vertical-align: middle;
    color: black !important;
    font-size: 40px;
    line-height: 46px;
    font-weight: bold;
    /*-webkit-text-stroke: 1px black;*/
}
.Klass.Attack               { background-color: rgba(255, 0, 0, 0.3); }
.Klass.Colonization         { background-color: rgba(0, 255, 0, 0.3); }
.Klass.Science              { background-color: rgba(0, 0, 255, 0.3); }
.Klass.Production           { background-color: rgba(255, 255, 0, 0.6); }

.Defense                    { color: white; }
.Attack                     { color: red; }
.Colonization               { color: green; }
.Science                    { color: darkblue; }
.Production                 { color: orange; }

.Base .Level.Klass          { border-top-right-radius: 20px; border-bottom-left-radius: 20px; }
.Base .Level.Klass          { left:300; height: 60; }
.Base .Image .Klass         { left:20;  top:50; }
.Base .part.Utilization     { left:0;   }
.Base .part.Defense         { left:50;  }
.Base .part.Attack          { left:100; }
.Base .part.Colonization    { left:150; }
.Base .part.Science         { left:200; }
.Base .part.Production      { left:250; }

.Hero .Level.Klass          { border-top-right-radius: 20px; border-bottom-left-radius: 20px; }
.Hero .Level.Klass          { left:300; height: 60; }
.Hero .Image .Klass         { left:20;  top:50; }
.Hero .part.Utilization     { left:0;   }
.Hero .part.Defense         { left:50;  }
.Hero .part.Attack          { left:100; }
.Hero .part.Colonization    { left:150; }
.Hero .part.Science         { left:200; }
.Hero .part.Production      { left:250; }

.Colony .Level.Klass        { border-top-left-radius: 20px; border-bottom-right-radius: 20px; }
.Colony .Level.Klass        { left:0;   height: 60; }
.Colony .Image .Klass       { left:60;  top:90; }
.Colony .part.Attack        { left:50;  }
.Colony .part.Colonization  { left:100; }
.Colony .part.Science       { left:150; }
.Colony .part.Production    { left:200; }
.Colony .part.Defense       { display:none; }
.Colony .part.Utilization   { display:none; }

.Ship .Level.Klass          { border-top-left-radius: 20px; border-bottom-right-radius: 20px; }
.Ship .Level.Klass          { top:0;   width: 60; }
.Ship .Image .Klass         { top:130; left:60; }
.Ship .part.Production      { top:50;  }
.Ship .part.Science         { top:100; }
.Ship .part.Colonization    { top:150; }
.Ship .part.Attack          { top:200; }
.Ship .part.Defense         { top:250; }
.Ship .part.Utilization     { top:300; }

.Tech .Level.Klass          { border-top-left-radius: 20px; border-bottom-right-radius: 20px; }
.Tech .Level.Klass          { left:0;   height: 60; }
.Tech .Image .Klass         { left:60;  top:100; }
.Tech .part.Attack          { left:50;  }
.Tech .part.Colonization    { left:100; }
.Tech .part.Science         { left:150; }
.Tech .part.Production      { left:200; }

.Absent .Name .Value {
    width:          250px;
    height:         350px;
    line-height:    350px;
    text-align:     center;
    vertical-align: middle;
    font-size:      30px;
    font-weight:    100;
}
