
.Star {
    position:   absolute;
    color:      #556;
}
.Star .inner.lni {
    position:   absolute; left:100; top:-60;
    font-size:  500px;
}

.hexagon {
  position: relative;
  width: 700px;
  height: 404.15px;
  background-color: #667;
  margin: 202.07px 0;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}
.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 494.97px;
  height: 494.97px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 102.5126px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}
.hexagon:before { top: -247.4874px; }
.hexagon:after { bottom: -247.4874px; }
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:700px;
  height:404.1452px;
  z-index: 2;
  background: inherit;
}
