@import 'basic.css';
@import url('https://fonts.googleapis.com/css?family=Press%20Start%202P');

body {
    font-family: "Press Start 2P", sans-serif;
}

.Spec {
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
}

.Level {
    font-size: 28px;
    line-height: 52px;
    font-weight: 100;
}
