@import url('https://cdn.lineicons.com/2.0/LineIcons.css');
@import 'cards.css';
@import 'stars.css';
@import 'specs.css';
@import 'piles.css';
@import 'slots.css';
@import 'notes.css';

body {
    font-family: "Open Sans", serif;
    background: #787;
}

.Human {
    background-color: #ffb;
}

.Martian {
    background-color: #dbb;
}

.Alien {
    background-color: #bff;
}


.AI {
    background-color: #bff;
}

.Plasma {
    background-color: #fbf;
}

.Giant {
    background-color: #bfb;
}

div.Scoreboard {
    position: absolute;
    top: 50px;
    left: 3300px;
    border: 1px solid black;
    border-radius: 10px;
}
.Scoreboard label {
    display: block;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: 350px;
    font-size: 30px;
    text-align:center;
}
.Scoreboard label:hover {
    background-color: wheat;
}
.Scoreboard input {
    display:none;
}

#Show {
    display: block;
    z-index: 10;
    position: fixed;
    left: 100px;
    bottom: 100px;
    width: 30%;
    height: 30%;
}

#Show .Card {
    transform: scale(2.2);
    transform-origin: bottom left;
}

.Home {
    position: absolute;
}
