.Card {
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 10px black;
    z-index: 4;
}

.Card.Selected {
    filter: brightness(115%);
    border: 3px solid red;
    box-shadow: 0 0 20px red;
}
.Card.Turned {
    filter: brightness(55%);
}
.Card.Turned div {
    display: none;
}
.Card.dragging:not(.Turned) {
    opacity: 0.5;
}
.Card.dragging.Turned {
    opacity: 0.01;
}
.Card[draggable=true] {
    cursor: grab;
}

.Ship, .Hero, .Tech {
    width: 250px;
    height: 350px;
}

.Base, .Colony {
    width: 350px;
    height: 250px;
}

.Specs {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Card.Altered .Specs.Normal,
.Card:not(.Altered) .Specs.Alternative {
    transform-origin: center;
    transform: rotate(180deg);
}
