.Card {
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 10px black;
    z-index: 4;
}

.Card.Selected {
    filter: brightness(115%);
    border: 3px solid red;
    box-shadow: 0 0 20px red;
}
.Card.Turned {
    filter: brightness(55%);
}
.Turned div {
    display: none;
}
.Card.dragging {
    opacity: 0.01;
}

.Ship {
    width: 250px;
    height: 250px;
}

.Hero {
    width: 250px;
    height: 250px;
}

.Base {
    width: 350px;
    height: 150px;
}

.Colony {
    width: 350px;
    height: 150px;
}

.Tech {
    width: 250px;
    height: 350px;
}

.Specs {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Card.Altered .Specs.Normal,
.Card:not(.Altered) .Specs.Alternative {
    transform-origin: center;
    transform: rotate(180deg);
}

.Star .Card.Visible.Altered .Specs.Normal,
.Star .Card.Visible:not(.Altered) .Specs.Alternative {
    display: none;
}

.Star .Card {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
