.Note {
    display: block;
    position: absolute;
}

.Card.Altered .Specs.Normal .Note,
.Card:not(.Altered) .Specs.Alternative .Note {
    transform-origin: -25px 25px;
    transform: rotate(180deg);
}

.Note .Text {
    display: block;
    position: absolute;
    font-family: "Press Start 2P";
    font-size: 20px;
    line-height: 80px;
    font-weight: normal;
    color: black;
}

.Note .Line {
    display: block;
    position: absolute;
    border-left: 3px solid black;
    border-top: 3px solid black;
    transform: skew(-22deg);
}

.Inverted.Note .Line {
    border-color: white;
}
.Inverted.Note .Text {
    color: white;
}
