.Slot {
    position: absolute;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0;
    margin: 0;
    z-index: 3;
}

.Slot .Name .Value {
    display: block;
    width: 350px;
    height: 150px;
}

.Slot.LeftToRight {
    width: 350px;
    height: 150px;
}
.Slot.TopToBottom {
    width: 250px;
    height: 250px;
}

.Slot .Card.Visible.Altered .Specs.Normal,
.Slot .Card.Visible:not(.Altered) .Specs.Alternative {
    display: none;
}

.Slot .Card {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.Pile.Folded {
    z-index: 3;
}

.Pile {
    position: absolute;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 9px #222;
    z-index: 4;
}
.Star .Pile {
    box-shadow: 0 0 0px;
}

.droppable:hover {
    border: 1px solid #333;
}
.droppable.hover {
    border: 5px solid black;
}

.Pile .Name .Value {
    display: block;
    user-select: none;
    width: 250px;
    height: 350px;
    line-height: 350px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 100;
}

.Pile.LeftToRight .Name .Value {
    width: 350px;
    height: 250px;
    line-height: 250px;
}

.BottomToTop .Pile .Name .Value {
    transform-origin: center;
    transform: rotate(180deg);
}

.Pile .Ship {
    width: 250px;
    height: 350px;
}

.Pile .Hero {
    width: 250px;
    height: 350px;
}

.Pile .Base {
    width: 350px;
    height: 250px;
}

.Pile .Colony {
    width: 350px;
    height: 250px;
}

.Pile .Other {
    width: 250px;
    height: 350px;
}

.Pile.TopToBottom .Base,
.Pile.BottomToTop .Colony {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
}

.Pile.BottomToTop .Base,
.Pile.TopToBottom .Colony {
    transform-origin: top left;
    transform: rotate(+90deg) translate(0, -100%);
}

.Pile.LeftToRight .Ship,
.Pile.LeftToRight .Hero,
.Pile.LeftToRight .Tech,
.Pile.LeftToRight .Other {
    transform-origin: top left;
    transform: rotate(+90deg) translate(0, -100%);
}

.Pile.RightToLeft .Ship,
.Pile.RightToLeft .Hero {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
}

.Row {
    position: absolute;
}

.Field {
    position: absolute;
}

.Home {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Home.BottomToTop {
    transform-origin: center;
    transform: rotate(180deg) translate(100%, 100%);
}
