.Space {
    position: absolute;
}
.Space.Turned .pentagon {
    background-color: #1a2020;
}
.Space.Type1:not(.Turned) .pentagon {
    background-image: url('$images/space1.jpg');
    background-size: 400%;
}
.Space.Type2:not(.Turned) .pentagon {
    background-image: url('$images/space2.jpg');
    background-size: 800%;
    background-position: center center;
}
.Space.Type3:not(.Turned) .pentagon {
    background-image: url('$images/space3.jpg');
    background-size: 300%;
}
.Space.Type4:not(.Turned) .pentagon {
    background-image: url('$images/asteroids.jpg');
    background-size: 700%;
    background-position: 100px 200px;
}
.Space.Type5:not(.Turned) .pentagon {
    background-image: url('$images/nebula.jpg');
    background-size: 600%;
    background-position: center center;
}
.Space.Type6:not(.Turned) .pentagon {
    background-color: black;
}

.Space.Type6:not(.Turned) .Type,
.Space.Turned .Type {
    display: none;
}
.Space:not(.Turned) .Type {
    position: absolute;
    top: 135px;
    left: 15px;
    font-size: 30px;
    color: white;
}

.Space.oclock2 .Type, .Space.oclock4 .Type, .Space.oclock6 .Type,
.Space.oclock7 .Type, .Space.oclock9 .Type, .Space.oclock11 .Type {
    transform: rotate(180deg);
    left: 12px;
}

.pentagon:hover {
    box-shadow: 0 0 30px white;
}

.pentagon {
    position: relative;
    width: calc(0.8 * 70px);
    margin: calc(0.8 * 20.207px) 0;
    height: 197px;
    box-shadow: 0 0 5px white;
    background: inherit;
}
.pentagon:before {
    content: "";
    top: calc(0.8 * -24.74874px);
    left: calc(0.8 * 10.25126px);
    width: calc(0.8 * 49.497px);
    height: calc(0.8 * 49.497px);
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    position: absolute;
    z-index: 1;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    box-shadow: inherit;
}

.pentagon span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(0.8 * 70.0px);
    height: calc(0.8 * 40.41452px);
    z-index: 2;
    background: inherit;
}
