.Spec {
    position: absolute;
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
}

.Spec .lni {
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    font-size: 52px;
    line-height: 48px;
    margin-left: -3px;
    margin-top: 5px;
    text-align: center;
    /*-webkit-text-stroke: 1px gray;*/
}

.Image .lni {
    position: absolute;
    font-size: 130px;
    font-weight: 100;
}

.Industrial .Image .lni {
    color: rgba(180, 180, 70, 0.9);
}

.Social .Image .lni {
    color: rgba(50, 180, 50, 0.7);
}

.Spec .Value {
    position: absolute;
    white-space: nowrap;
}

.Spec.Level .Value {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 40px;
    line-height: 52px;
    font-weight: 100;
    /*-webkit-text-stroke: 1px black;*/
}

.Spec.Level .Value.None {
    background-color: rgba(155, 155, 155, 0.4);
}

.Spec.Level .Value.Attack {
    background-color: rgba(255, 0, 0, 0.4);
}

.Spec.Level .Value.Colonization {
    background-color: rgba(0, 255, 0, 0.6);
}

.Spec.Level .Value.Science {
    background-color: rgba(0, 0, 255, 0.4);
}

.Spec.Level .Value.Production {
    background-color: rgba(255, 235, 0, 0.7);
}

.Spec.Extracost .Value {
    position: absolute;
    left: 39px;
    color: black;
    font-size: 27px;
    letter-spacing: -5px;
}

.Spec.Require1 .Value.Attack {
    background-color: rgba(255, 0, 0, 0.2);
}

.Spec.Require1 .Value.Colonization {
    background-color: rgba(0, 255, 0, 0.2);
}

.Spec.Require1 .Value.Science {
    background-color: rgba(0, 0, 255, 0.2);
}

.Spec.Require1 .Value.Production {
    background-color: rgba(255, 235, 0, 0.7);
}

.Spec.Require2 .Value.Attack {
    background-color: rgba(255, 0, 0, 0.2);
}

.Spec.Require2 .Value.Colonization {
    background-color: rgba(0, 255, 0, 0.2);
}

.Spec.Require2 .Value.Science {
    background-color: rgba(0, 0, 255, 0.2);
}

.Spec.Require2 .Value.Production {
    background-color: rgba(255, 235, 0, 0.7);
}

.Spec.Require1 .Value, .Spec.Require2 .Value {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 45px;
    font-weight: 100;
    color: #000 !important;
}

.None {
    color: rgba(55, 55, 55, 0.8);
}

.Attack {
    color: rgba(230, 0, 0, 0.8);
}

.Colonization {
    color: green;
}

.Science {
    color: darkblue;
}

.Production {
    color: darkorange;
}

.Spec.Klass {
    display: none;
}

.Spec.Type {
    display: none;
}

.Spec.Race {
    display: none;
}

.Spec.Requires {
    display: none;
}

.Spec.Alternative {
    display: none;
}

.Spec.Cooperation .Value {
    position: absolute;
    margin-left: -2px;
    margin-top: 4px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: 900;
    /*-webkit-text-stroke: 1px white;*/
}

.Spec.Power .Value {
    /*-webkit-text-stroke: 1px black;*/
}

.Unit .Spec.Level .Value {
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Unit .Spec.Require1 .Value {
    top: 100px;
    border-top-right-radius: 12px;
}

.Unit .Spec.Require2 .Value {
    top: 140px;
    border-bottom-right-radius: 12px;
}

.Unit .Spec.Power .Value {
    left: 0px;
    width: 245px;
    font-size: 30px;
    text-align: right;
}

.Unit .Spec.Cooperation .Value {
    top: 50px;
    left: 0px;
    width: 245px;
    text-align: right;
}

.Ship .Image .Klass {
    left: 11px;
    top: 9px;
}

.Hero .Image .Klass {
    left: 20px;
    top: 0px;
}

.Structure .Spec.Level .Value {
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Structure .Image .Klass {
    left: 20px;
    top: 10px;
}
.Structure .Spec.Require1 .Value {
    top: 70px;
    border-top-right-radius: 12px;
}
.Structure .Spec.Require2 .Value {
    left: 310px;
    top: 110px;
    border-bottom-right-radius: 12px;
}
.Structure .Spec.Power .Value {
    left: 0px;
    width: 345px;
    font-size: 33px;
    text-align: right;
}
.Structure .Spec.Cooperation .Value {
    left: 0px;
    width: 345px;
    top: 50px;
    text-align: right;
}

.Tech .Spec.Level .Value {
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Tech .Image .Klass {
    left: 60px;
    top: 100px;
}

.Tech .Spec.Attack {
    left: 50px;
}

.Tech .Spec.Colonization {
    left: 100px;
}

.Tech .Spec.Science {
    left: 150px;
}

.Tech .Spec.Production {
    left: 200px;
}

.Tech .Spec.Require1 .Value {
    top: 120px;
    border-top-right-radius: 12px;
}

.Tech .Spec.Require2 .Value {
    top: 170px;
    border-bottom-right-radius: 12px;
}

.Event .Image .Klass {
    color: rgba(100, 100, 100, 0.5);
    left: 5px;
    top: 15px;
}
.Structure .Spec.Text .Value {
    top: 3px;
    display: block;
    width: 340px;
    text-wrap: wrap;
    text-align: right;
    text-indent: 50px;
    font-weight: 100;
    line-height: 45px;
    font-size: 25px;
    color: black;
}

.Card .Name {
    display: none;
}
