.Spec {
    position: absolute;
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
}

.Spec .lni {
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
    font-size: 52px;
    line-height: 48px;
    margin-left: -3px;
    margin-top: 5px;
    text-align: center;
    /*-webkit-text-stroke: 1px gray;*/
}

.Image .lni {
    position: absolute;
    color: rgba(100, 100, 100, 0.5);
    font-size: 130px;
    font-weight: 100;
}

.Spec .Value {
    position: absolute;
}

.Spec.Level .Value {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 30px;
    line-height: 52px;
    font-weight: 100;
    /*-webkit-text-stroke: 1px black;*/
}

.Spec.Level .Value.None {
    background-color: rgba(155, 155, 155, 0.4);
}

.Spec.Level .Value.Attack {
    background-color: rgba(255, 0, 0, 0.4);
}

.Spec.Level .Value.Colonization {
    background-color: rgba(0, 255, 0, 0.4);
}

.Spec.Level .Value.Science {
    background-color: rgba(0, 0, 255, 0.4);
}

.Spec.Level .Value.Production {
    background-color: rgba(255, 255, 0, 0.7);
}

.Spec.Require1 .Value.Attack {
    background-color: rgba(255, 0, 0, 0.2);
}

.Spec.Require1 .Value.Colonization {
    background-color: rgba(0, 255, 0, 0.2);
}

.Spec.Require1 .Value.Science {
    background-color: rgba(0, 0, 255, 0.2);
}

.Spec.Require1 .Value.Production {
    background-color: rgba(255, 255, 0, 0.5);
}

.Spec.Require2 .Value.Attack {
    background-color: rgba(255, 0, 0, 0.2);
}

.Spec.Require2 .Value.Colonization {
    background-color: rgba(0, 255, 0, 0.2);
}

.Spec.Require2 .Value.Science {
    background-color: rgba(0, 0, 255, 0.2);
}

.Spec.Require2 .Value.Production {
    background-color: rgba(255, 255, 0, 0.5);
}

.Spec.Require1 .Value, .Spec.Require2 .Value {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 19px;
    line-height: 45px;
    font-weight: 100;
    color: #000 !important;
}

.None {
    color: rgba(55, 55, 55, 0.8);
}

.Attack {
    color: rgba(230, 0, 0, 0.8);
}

.Colonization {
    color: green;
}

.Science {
    color: darkblue;
}

.Production {
    color: orange;
}

.Spec.Klass {
    display: none;
}

.Spec.Type {
    display: none;
}

.Spec.Race {
    display: none;
}

.Spec.Requires {
    display: none;
}

.Spec.Alternative {
    display: none;
}

.Spec.Cooperation .Value {
    position: absolute;
    margin-left: -2px;
    margin-top: 4px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    font-weight: 900;
    /*-webkit-text-stroke: 1px white;*/
    filter: brightness(80%);
}

.Spec.Attack .Value,
.Spec.Colonization .Value,
.Spec.Production .Value,
.Spec.Science .Value {
    /*-webkit-text-stroke: 1px white;*/
}

.Ship .Spec.Level .Value {
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Ship .Image .Klass {
    left: 11px;
    top: 9px;
}

.Ship .Spec.Require1 .Value {
    top: 100px;
    border-top-right-radius: 12px;
}

.Ship .Spec.Require2 .Value {
    top: 140px;
    border-bottom-right-radius: 12px;
}

.Ship .Spec.Power .Value {
    left: 200px;
}

.Ship .Spec.Cooperation .Value {
    left: 190px;
    top: 50px;
}

.Hero .Spec.Level .Value {
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Hero .Image .Klass {
    left: 20px;
    top: 0px;
}

.Hero .Spec.Require1 .Value {
    top: 110px;
    border-top-right-radius: 12px;
}

.Hero .Spec.Require2 .Value {
    top: 150px;
    border-bottom-right-radius: 12px;
}

.Hero .Spec.Power .Value {
    left: 125px;
}

.Hero .Spec.Cooperation .Value {
    left: 120px;
    top: 50px;
}

.Colony .Spec.Level .Value {
    left: 300px;
    height: 60px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.Colony .Image .Klass {
    left: 210px;
    top: 10px;
}
.Colony .Spec.Require1 .Value {
    left: 0px;
    top: 70px;
    border-top-right-radius: 12px;
}
.Colony .Spec.Require2 .Value {
    left: 0px;
    top: 110px;
    border-bottom-right-radius: 12px;
}
.Pile.TopToBottom .Colony .Spec.Require1 .Value {
    left: 310px;
    top: 70px;
    border-top-left-radius: 12px;
}
.Pile.TopToBottom .Colony .Spec.Require2 .Value {
    left: 310px;
    top: 110px;
    border-bottom-left-radius: 12px;
}
.Colony .Spec.Power .Value {
    left: 150px;
}
.Colony .Spec.Cooperation .Value {
    left: 140px;
    top: 50px;
}

.Base .Spec.Level .Value {
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Base .Image .Klass {
    left: 10px;
    top: 10px;
}
.Base .Spec.Require2 .Value {
    top: 70px;
    height: 40px;
    line-height: 40px;
    border-top-right-radius: 12px;
}
.Base .Spec.Require1 .Value {
    top: 110px;
    height: 40px;
    line-height: 40px;
    border-bottom-right-radius: 12px;
}
.Base .Spec.Power .Value {
    left: 150px;
}
.Base .Spec.Cooperation .Value {
    top: 50px;
    left: 140px;
}

.Tech .Spec.Level .Value {
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Tech .Image .Klass {
    left: 60px;
    top: 100px;
}

.Tech .Spec.Attack {
    left: 50px;
}

.Tech .Spec.Colonization {
    left: 100px;
}

.Tech .Spec.Science {
    left: 150px;
}

.Tech .Spec.Production {
    left: 200px;
}

.Tech .Spec.Require1 .Value {
    top: 120px;
    border-top-right-radius: 12px;
}

.Tech .Spec.Require2 .Value {
    top: 170px;
    border-bottom-right-radius: 12px;
}

.Card .Name {
    display: none;
}
