.Star {
    position: absolute;
    color: #556;
}

.Star .Id {
    position: absolute;
    top: 50px;
    left: 320px;
    font-size: 30px;
    color: #555555;
    z-index: 2;
}

.Star .inner.lni {
    position: absolute;
    left: 140px;
    top: -140px;
    font-size: 300px;
}
